<%= form_for(@extra) do |f| %>
  <% if @extra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@extra.errors.count, "error") %> prohibited this extra from being saved:</h2>

      <ul>
      <% @extra.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stuff %><br />
    <%= f.text_field :stuff %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
